<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Category", "Score"],
        <%= raw(current_user.categories.map do |category|
          "['#{category.name}',#{current_user.category_score(category)}]"
        end.join(","))
        %>
        ]);

      var options = {
        pieHole: 0.4,
        legend: 'none',
        colors: ['#88F3E3', '#ADE9FF', '#FBD248', '#FDA48B', '#D4F89E']
      };

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
      chart.draw(data, options);
    }
  </script>
</head>
<body>

  <div class="hero-banner">
    <h1 class='greeting'><%= greet %> <%= current_user.user_name %>!</h1>
  </div>
     <div id="notif_results"></div>
  <div class="donutchart">
    <%= link_to '<div id="donutchart"></div>'.html_safe, dashboard_categories_path %>
  </div>
  <div class="container fullscroll">
    <div class="reminder-list text-center">
      <p class='remind'><%= link_to "Later", notif_notifications_path, remote: true %> on, I will remind you to:</p>
      <div class="tasks">
        <div class="container">
          <% current_user.tasks.each do |task|%>
          <div class="row">
              <div class="col-xs-12">
                <ul class='list-tasks'>
                  <li class='list-task border-task border-<%= task.category.name %>'><%= link_to task.name, task_path(task) %></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="goodbye text-center">
      <p><%= goodbye %></p>
      <p class="signature">Sam</p>
    </div>
  </div>
</body>
</html>






<!--     <div class="vertical-graph">
      <%# current_user.categories.each do |category| %>
      <div class="progress progress-bar-container">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em; width: 200em;height: <%#= current_user.category_score(category) %>%; background-color: <%#= task.score_color %>;">
          <%#= current_user.category_score(category) %>%
          <%#= link_to category.name, dashboard_category_path(category) %>
        </div>
      </div>
      <%# end %>
    </div> -->
