<div class="container">
<p><%= link_to "Edit my profile", edit_profile_path %></p>
<h1><%= greet %> <%= current_user.user_name %></h1>
<p>Later on, I will remind you to:</p>
<%= @tasks %>
<p><%= goodbye %></p>
<p class="signature">Sam</p>
</div>
