<div class="form-positon fullscroll">
  <!-- START CREATION OF A TASK -->
  <%= simple_form_for @task do |f| %>

    <!-- TASK NAME -->
    <div class="box-input">
      <h4 class="title-input">What's your task?</h4>
      <%= f.input :name, label: false %>
    </div>

    <!-- SELECT BEACON -->
    <div class="box-input">
      <h4 class="title-input">Select your beacon:</h4>
      <%= f.input :beacon, label: false, collection: ["Bathroom", "Kitchen", "Bedroom"] %>
      <p class="tips text-center">*Pssss! Remember to connect your Beacon!</p>
    </div>

    <!-- SET A DISTANCE -->
    <div class="box-input">
      <h4 class="title-input">Set a distance:</h4>
      <%= @task.errors[:distance] if @task.errors.key? :distance %>
      <div class="beacon-range">
        <input class="range-resize" name="task[distance]" type="range" min="0" max="10" value="0" step="1" onchange="showValue(this.value)" />
        <p class="text-form"><span id="range">0</span> meters</p>
      </div>
    </div>

    <!-- SET A FREQUENCY -->
    <div class="box-input">
      <h4 class="title-input">Choose a day:</h4>
      <div class="radio-size">
        <%= f.input :frequency, collection: Task::FREQUENCY_OPTIONS, as: :radio_buttons, label: false %>
      </div>
    </div>

    <!-- DURATION OF THE TASK -->
    <div class="box-input">
      <h4 class="title-input">For how long?</h4>
      <%= f.input :duration, label: false, collection: 1..100 %>
    </div>

    <!-- TIME SLOT -->
    <div class="box-input">
      <h4 class="title-input">Time Slot:</h4>
      <p class="text-form">When do you want your notifications?</p>
      <div class="radio-size">
        <%= f.input :time_slot, collection: Task::TIME_SLOT_OPTIONS, as: :radio_buttons, label: false %>
      </div>
    </div>

    <!-- QUOTE -->
    <div class="text-center box-input">
      <%= f.hint '"It all starts with the intention!"', :class => "quote" %>
    </div>

    <!-- CREATE BUTTON -->
    <div class="text-center end-box up-btn">
     <%= f.button :submit, :class => "btn-form up-btn" %>
    </div>

    <!-- CATEGORY -->
    <div class="box-input">
      <% if @task.category %>
        <%= f.input :category, :as => :hidden, :input_html => { :value => @task.category.id } %>
      <% else %>
        <h4 class="title-input">Category</h4>
        <%= f.association :category, as: :radio_buttons, label: false%>
      <% end %>
    </div>
  <% end %>
</div>
