<div class="form-positon">
  <!-- START CREATION OF A TASK -->
  <%= simple_form_for @task do |f| %>

    <!-- TASK NAME -->
    <div>
      <h4>What's your task?</h4>
      <%= f.input :name, label: false %>
    </div>

    <!-- SELECT BEACON -->
    <div>
      <h4>Select your Beacon</h4>
      <p>Pssss! Remember to connect your Beacon!</p>
      <%= f.input :beacon, label: false, collection: ["Bathroom", "Kitchen", "Bedroom"] %>
    </div>

    <!-- SET A DISTANCE -->
    <div>
      <h4>Distance</h4>
      <p>It's in meters!</p>
      <%= @task.errors[:distance] if @task.errors.key? :distance %>
      <div class="beacon-range">
        <input name="task[distance]" type="range" min="0" max="10" value="0" step="1" onchange="showValue(this.value)" />
        <span id="range">0</span>
      </div>
    </div>

    <!-- SET A FREQUENCY -->
    <div>
      <h4>Frequency</h4>
      <p>Weekdays</p>
      <%= f.input :frequency, collection: Task::FREQUENCY_OPTIONS, as: :radio_buttons, label: false %>
    </div>

    <!-- DURATION OF THE TASK -->
    <div>
      <h4>For how long?</h4>
      <%= f.input :duration, label: false, collection: 1..100 %>
    </div>

    <!-- TIME SLOT -->
    <div>
      <h4>Time Slot</h4>
      <p>When do you want your notifications ? </p>
      <%= f.input :time_slot, collection: Task::TIME_SLOT_OPTIONS, as: :radio_buttons, label: false %>
    </div>

    <!-- QUOTE -->
    <div">
      <%= f.hint 'It all starts with the intention!', class: "form-content-white" %>
    </div>

    <!-- CREATE BUTTON -->
    <div>
     <%= f.button :submit, class: "btn-form" %>
    </div>
  <% end %>
</div>












