<%= simple_form_for @task do |f| %>
<div class="page-task">
  <div class="well">
    <div class="title-radio">
      <h3>What's your task?</h3>
    </div>
    <%= f.input :name, label: false %>
  </div>

  <div class="well text-left">
    <div class="row">
      <div class="col-md-offset-5 col-md-7   col-xs-offset-2 col-xs-10">
       <div class="title-radio">
         <h3>Choose your Beacon</h3>
         <p>Pssss! Remember to connect your Beacon!</p>
         <div class="form-content-white">
          <%= f.input :beacon, label: false, collection: ["Beacon 1", "Beacon 2", "Beacon 3"], prompt: "Select Beacon"%>
        </div>
      </div>
    </div>
  </div>




  <div class="well text-left">
    <div class="row">
      <div class="col-md-offset-5 col-md-7   col-xs-offset-2 col-xs-10">
       <div class="title-radio">
         <h3>Distance</h3>
       </div>
       <div class="form-content-white">
         <input type="range" min="0" max="10" value="0" step="1" onchange="showValue(this.value)" />
         <span id="range">0</span>
       </div>
     </div>
   </div>
 </div>


 <div class="well text-left">
   <div class="row">
    <div class="col-md-offset-5 col-md-7   col-xs-offset-2 col-xs-10">
      <div class="title-radio">
       <h3>Frequency</h3>
     </div>
     <div class="form-content-white">
       <%= f.input :frequency, collection: Task::FREQUENCY_OPTIONS, as: :radio_buttons, label: false %>
     </div>
   </div>
 </div>

 <div class="well text-left">
  <div class="row">
    <div class="col-md-offset-5 col-md-7   col-xs-offset-2 col-xs-10">
      <div class="title-radio">
       <h3>Time Slot</h3>
     </div>
     <div class="form-content-white">
       <%= f.input :time_slot, collection: Task::TIME_SLOT_OPTIONS, as: :radio_buttons, label: false %>
     </div>
   </div>
 </div>
</div>



<div class="well text-left">
  <div class="row">
    <div class="col-md-offset-5 col-md-7   col-xs-offset-2 col-xs-10">
      <div class="title-radio">
       <h3>Category</h3>
     </div>
     <div class="form-content-white">
       <%= f.association :category, as: :radio_buttons, label: false%>
     </div>
   </div>
 </div>
</div>

<div class="form-content-white">
  <%= f.hint 'It all starts with the intention!' %>
</div>

<div class='submit-task'>
 <%= f.button :submit %>
</div>

<% end %>
</div>
