<%= simple_form_for @task do |f| %>
<div class="page-task">
  <div class="well">
    <div class="title-radio">
      <h4>What's your task?</h4>
    </div>
    <%= f.input :name, label: false %>
  </div>

  <div class="well text-left">
    <div class="row">
      <div class="col-md-offset-5 col-md-7   col-xs-offset-1 col-xs-7">
       <div class="title-radio">
         <h4>Choose your Beacon</h4>
         <p>Pssss! Remember to connect your Beacon!</p>
         <div class="form-content-white">
          <%= f.input :beacon, label: false, collection: ["Beacon 1", "Beacon 2", "Beacon 3"], prompt: "Select Beacon"%>
        </div>
      </div>
    </div>
  </div>




  <div class="well text-left">
    <div class="row">
      <div class="col-md-offset-5 col-md-7   col-xs-offset-1 col-xs-7">
       <div class="title-radio">
         <h3>Distance</h3>
         <p>It's in meters!</p>
       </div>
       <div class="form-content-white">
         <input type="range" min="0" max="10" value="0" step="1" onchange="showValue(this.value)" />
         <span id="range">0</span>
       </div>
     </div>
   </div>
 </div>


 <div class="well text-left">
   <div class="row">
    <div class="col-md-offset-5 col-md-7   col-xs-offset-1 col-xs-7">
      <div class="title-radio">
       <h3>Frequency</h3>
     </div>
     <div class="form-content-white">
       <label for="test">Weekdays</label><br>
       <br>
       <label class="myCheckbox">
        <input type="checkbox" name="test"/>
        <span>M</span><br>
        <input type="checkbox" name="test"/>
        <span>T</span><br>
        <input type="checkbox" name="test"/>
        <span>W</span><br>
        <input type="checkbox" name="test"/>
        <span>T</span><br>
        <input type="checkbox" name="test"/>
        <span>F</span><br>
        <input type="checkbox" name="test"/>
        <span>S</span><br>
        <input type="checkbox" name="test"/>
        <span>S</span><br>
      </label>
    </div>
  </div>
</div>

<div class="well text-left">
  <div class="row">
    <div class="col-md-offset-3 col-md-6   col-xs-offset-1 col-xs-7">
      <div class="title-radio">
       <h3>Time Slot</h3>
       <br>
     </div>
     <div class="form-content-white">
      <label for="test">You want to be reminded in the... </label>
      <br>
      <label class="myCheckbox">
        <input type="checkbox" name="test"/>
        <span>Morning</span><br>
        <input type="checkbox" name="test"/>
        <span>Afternoon</span><br>
        <input type="checkbox" name="test"/>
        <span>Evening</span><br>
      </label>

    </div>
  </div>
</div>
</div>



<% unless @task.category %>
<div class="well text-left">
  <div class="row">
    <div class="col-md-offset-5 col-md-7   col-xs-offset-2 col-xs-8">
      <div class="title-radio">
       <h3>Category</h3>
     </div>
     <div class="form-content-white">
       <%= f.association :category, as: :radio_buttons, label: false%>
     </div>
   </div>
 </div>
</div>
<% end %>

<div class="form-content-white text-center">
  <%= f.hint 'It all starts with the intention!' %>
</div>

<div class='submit-task'>
 <%= f.button :submit %>
</div>

<% end %>
</div>
