 <div class="container" "text-center">
 <h1>Define your new task</h1>

 <%= simple_form_for @task do |f| %>
  <%= f.input :name %>
  <%= f.input_field :name %>
  <%= f.hint 'It all starts with the intention!' %>
  <%= f.button :submit %>

<% end %>
</div>

