<div class=" v-align">
  <div class="box-input">
    <h4 class="text-center">So, ready to start to</h4>
    <h4 class="text-center"><%= @task.name %> ?</h4><br>
    <p class="text-center"><strong>Great!</strong></p>
    <p class="text-recap">I'll reminding you of it <span class="word-task"><%= @task.frequency %></span>.</p>
    <p class="text-recap"> In the <span class="word-task"><%= @task.time_slot.downcase %></span>.</p>
    <p class="text-recap"> At the distance of <span class="word-task"><%= @task.distance %> meters</span>.</p>
  </div>
  <div class="text-center">
    <%= link_to "Edit your task", edit_task_path(@task), class: "btn btn-primary btn-form" %>
    <%= link_to "All good? Ready!", dashboard_index_path, class: "btn btn-primary btn-form" %>
      <p class="btn btn-default btn-form">
        <%= link_to "Delete task", task_path(@task), :method => :delete,
          :class => 'btn-link' %>
      </p>
  </div>
  <div class="quote">
    <p class="quote-string text-center">“We become what we repeatedly do.”</p>
    <p class="quote-signature text-center">Sean Covey</p>
  </div>
</div>
