<!-- SCREEN 1 -->
<div id="screen-1">
  <!-- SAM LOGO -->
  <%= link_to image_tag("sam-shadow.png", :class => "sam-shadow"), notif_notifications_path, remote: true %>
  <!-- ARROW 1 -->
  <%= link_to '#screen-2' do %>
    <%= image_tag("arrow_down_1x.png", class: "arrow") %>
  <% end %>
</div>


<div id="notif_results"></div>

<!-- SCREEN 2 -->
<div id="screen-2">
  <!-- DESCRIPTION -->
  <div>

  </div>
  <!-- ARROW 2 -->
  <%= link_to '#screen-3' do %>
    <%= image_tag("arrow_down_1x.png", class: "arrow") %>
  <% end %>
</div>

<!-- SCREEN 3 -->
<div id="screen-3" class="flexbox">
  <!-- SIGNIN / SIGNUP BTN -->
  <div class="form-positon flexbox">
    <div class="create-button">
      <%= link_to "Login", new_user_session_path, class: "sign text-center" %>
    </div>
    <div class="create-button">
      <%= link_to "Create account", new_user_registration_path, class: "sign text-center" %>
    </div>
    <%= image_tag("sign-shadow.png", class: "sign-shadow") %>
  </div>
</div>


